export LLVM_PREFIX=${XDG_DATA_HOME}/llvm/firefly
export FIREFLY_BUILD_TYPE=static
export LLVM_LINK_LLVM_DYLIB=OFF

export CARGO_MAKE_TOOLCHAIN=nightly-2023-02-07

export CC=${LLVM_PREFIX}/bin/clang
export CXX=${LLVM_PREFIX}/bin/clang++
